<h1>Listing owners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Orgainization</th>
    <th>Email</th>
    <th>Voice number</th>
    <th>Sms number</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @owners.each do |owner| %>
  <tr>
    <td><%= owner.name %></td>
    <td><%= owner.orgainization %></td>
    <td><%= owner.email %></td>
    <td><%= owner.voice_number %></td>
    <td><%= owner.sms_number %></td>
    <td><%= owner.address_1 %></td>
    <td><%= owner.address_2 %></td>
    <td><%= owner.city %></td>
    <td><%= owner.state %></td>
    <td><%= owner.zip %></td>
    <td><%= link_to 'Show', owner %></td>
    <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
    <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Owner', new_owner_path %>
